.App {
  text-align: center;
  background-image: url('../src/assets/image/background.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
}

.App-logo {
  /* height: 20vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.App-header > img {
  width: 50%;
}

.App-link {
  color: #61dafb;
}

.btn_wrapper {
  width: 100%;
  margin-top: -70px;
}
.btn_wrapper > .btn_mint {
  margin: 10px 20px;
}
.btn_mint {
  background: #FF9902;
  box-shadow: 2px 2px 0px rgb(0 0 0 / 51%);
  border-radius: 40px;
  font-size: 25px;
  padding: 5px 51px 5px 53px;
  border: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 5px;

}
.btn_mint:active {
  opacity: 0.8;
  outline: none;
  border: none;
}

.not_allowed {
  cursor:not-allowed !important;
}

.admin_set_part {
  margin-top: 10px;
}
.royalty_wallet {
  margin-bottom: 10px;
}
.royalty_wallet > input {
  outline: none;
  border-radius: 40px;
  border: none;
  line-height: 1.2;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  width: 400px;
 
}

.whitelist_address {
  margin-bottom: 10px;
}
.whitelist_address > textarea {
  outline: none;
  border-radius: 40px;
  border: none;
  line-height: 1.2;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  width: 400px;
  margin-bottom: -25px;
  height: 50px;
 
}
.base_uri {
  margin-top: 10px;
}
.base_uri > input {
  outline: none;
  border-radius: 40px;
  border: none;
  line-height: 1.2;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  width: 400px;
}

.max_supply {
  margin-top: 10px;
}
.max_supply > input {
  outline: none;
  border-radius: 40px;
  border: none;
  line-height: 1.2;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  width: 400px;
}
.mint_price {
  margin-top: 10px;
}
.mint_price > input {
  outline: none;
  border-radius: 40px;
  border: none;
  line-height: 1.2;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  width: 400px;
}
/* .btn_mint:hover {
  opacity: 0.6;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* CSS */
.btn_mint {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .btn_mint {
    padding: 19px 32px;
  }
}

.btn_mint:before,
.btn_mint:after {
  border-radius: 80px;
}

.btn_mint:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.btn_mint:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.btn_mint:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.btn_mint:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.btn_mint:active:not(:disabled) {
  color: #ccc;
}

.btn_mint:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.btn_mint:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.btn_mint:disabled {
  cursor: default;
  opacity: .24;
}

.airdrop {
  margin-top: 10px;
}
.airdrop > input {
  outline: none;
  border-radius: 40px;
  border: none;
  line-height: 1.2;
  padding: 7px;
  text-align: center;
  font-size: 16px;
  width: 400px;
}